# macOS
.DS_Store

# virtual env
.venv/
venv/

# cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/

# VS Code settings
.vscode/

# IntelliJ / PyCharm settings
.idea/

# Logs
*.log

.env